# MaxPatrol VM Credentials
MPVM_USER=username
MPVM_PASSWORD=password
MPVM_CLIENT_SECRET=client_secret

# MaxPatrol VM Infrastructure & Groups IDs
MPVM_SCOPE_ID=реальный_uuid_инфраструктуры https://***/api/scopes/v2/scopes
MPVM_ROOT_GROUP_ID=в url веб интерфейса mp 
MPVM_IT_SYSTEMS_ROOT_ID=***  # ID папки "Jira CMDB - IT system"
MPVM_OWNERS_ROOT_ID=***    # ID папки "Jira CMDB - Owner"

# Jira Insight Configuration
JIRA_URL=https://***
JIRA_BEARER_TOKEN=token
